<html lang="en" class="no-js">
	<head>
        {% block stylesheets %}
            {% stylesheets 'bundles/personal/css/picks/default.css' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <title>{% block title %}Coding Bat C++{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	</head>
	<body style="font-family:Helvetica">
		<div class="user">
			<span>
				Logged in as<br>
				<span id="email">{{ email }}</span> 
				{% if teacher %}
					<br><i>Teacher</i>
				{% endif %}
			</span>
			<p style="margin-bottom:0">
		        <a href={{ path("compiler_logout") }}>
		            <button class="logout">Logout</button>
		        </a>
			</p>
		</div>
        <div name="logout" style="display:inline-block;float:right;padding-right: 10px">
            <a href={{ path("compiler") }}>
                <button class="login" style="width:80px;height:40px;">Home</button>
            </a>
        </div>
	    <div name="header">
	        <h2>CodingBat C++</h2>
			<h3>Admin Console</h3>
	    </div>
		<div class="students">
			<h4>Current students:</h4>
			Click on a student to see their progress.<br><br>
			<div class="list">
			    {% for student in students %}
			        <span id="{{ student.id }}" class="student">
			            {{ loop.index }}.&nbsp;{{ student.email }}&nbsp;|&nbsp;{{ student.username }}
					</span><br>
			    {% endfor %}
			</div>
			<p>
				<button class="add">Add Student</button>
			</p>
		</div>
		<div class="add_students" style="display: none">
			<div id="student_form">
				<a title="Close" class="close" id="close1">X</a>
				<form id="enroll">
					<br><span>Enter student email:</span><br>
					<input class="login" id="Email" name="email" type="text" placeholder="Email"><br>
					<input type="hidden" name="id" value="{{ id }}">
					<button id="submit" type="submit" name="submit" class="login button">Add</button> <!-- Login (submit) button -->
				</form>
				{% image '@PersonalBundle/Resources/public/images/257.gif' %}
				    <img id="loading" src="{{ asset_url }}" alt="Example" style="display: none"/>
				{% endimage %}
				<span id="result"></span>
			</div>
		</div>
		<div class="student_progress" style="display: none">
			<div id="progress_content">
				<h4>Completed Problems:</h4>
				<a title="Close" class="close" id="close2" >X</a>
				<div class="progress_container">
					<div class="placeholder"></div>
				</div>
				{% image '@PersonalBundle/Resources/public/images/257.gif' %}
				    <img id="loading2" src="{{ asset_url }}" alt="Example" style="display: none"/>
				{% endimage %}
			</div>
		</div>
	</body>
    {% block javascripts %}
        {% javascripts 'bundles/personal/js/code.js'%}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</html>
