<html lang="en" class="no-js">
	<head>
        {% block stylesheets %}
            {% stylesheets 'bundles/personal/css/picks/default.css' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <title>{% block title %}Coding Bat C++{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	</head>
	<body style="font-family:Helvetica">
		<div class="user">
			<span>
				Logged in as<br>
				<span id="email">{{ email }}</span> 
				{% if teacher %}
					<br><i>Teacher</i>
				{% endif %}
			</span>
			<p style="margin-bottom:0">
		        <a href={{ path("compiler_logout") }}>
		            <button class="logout">Logout</button>
		        </a>
			</p>
		</div>
        <div name="logout" style="display:inline-block;float:right;padding-right: 10px">
            <a href={{ path("compiler") }}>
                <button class="login" style="width:80px;height:40px;">Home</button>
            </a>
        </div>
        <div name="header">
            <h2>CodingBat C++</h2>
        </div>
        <div class="description">
            <p>
                Add your code to the function below and when you think it's ready, click submit and see if your input works!<br>
                All libraries necessary to complete the task at hand will be included already.<br>
                Assume the standard namespace will be used for all assignments unless specificed otherwise.
            </p>
            <p>
                <h3>{% if title is defined %}{{title}}{% else %}"Title goes here!"{% endif %}</h3>
            </p>
            <p style="width:500px">
                <strong>Prompt:</strong><br>
                {% if prompt is defined %}{{prompt}}{% else %}"Prompt goes here!"{% endif %}
            </p>
        </div>
		<div class="output">
	        {% if output is defined %}
	            {% if output %}
	            <div name="output">
	                <p>
	                    <p style="color:#ff0000">
	                        Oops. Something's not quite right.
	                    </p>
	                    <p>
	                        {{ output }}
	                    </p>
	                </p>
	            </div>
	            {% endif %}
	        {% endif %}
	        {% if pass is defined %}
	            {% if pass %}
	                <strong>Output:</strong><br>
	                <table style="width:300px">
	                    <tr>
	                        <td>Test</td>
	                        <td>Expected</td>
	                        <td>Output</td>
	                        <td>&nbsp;</td>
	                    </tr>
	                    <div name="output">
	                        <p>
	                            {% set num = 0 %}
	                            {% set success = 0 %}
	                            {% for test in tests %}
	                                {% set num = num + 1 %}
	                                    <tr>
	                                        <td width="auto">{{ test }}</td>
	                                        <td width="auto">{{ expected[loop.index0] }}</td>
	                                        <td width="auto">{{ inputs[loop.index0] }}</td>
	                                        <td style="width:30px;background-color:#{% if pass[loop.index0] == "true" %}33CC33{% set success = success + 1 %}{% else %}ff0000{% endif %}">&nbsp;</td>
	                                    </tr>
	                            {% endfor %}
	                        </p>
	                    </div>
	                </table>
	                {% if num == success %}
	                    <p style="color:#00cd00">
	                        All Clear!
	                    </p>
	                {% endif %}
	            {% endif %}
	        {% endif %}
		</div>
        <div class="code">
            <form name="codeform" action="" method="POST">
                <div class="area">
                    <label>{% if method is defined %}{{ method }}{% else %}"Method goes here!"{% endif %}</label><br>
                    <label>{</label><br>
            		<textarea id="textbox" name="code" rows="1" autofocus>{% if code is defined%}{{code}}{% endif %}</textarea><br>
                    <label>}</label>
                </div>
                <input type="hidden" value="void" name="type">
                <input type="hidden" value="basicTest()" name="name"><br>
                <input type="submit" value="Run!" class="login">
            </form>
        </div>
	</body>
    {% block javascripts %}
        {% javascripts 'bundles/personal/js/code.js'
                       'bundles/personal/js/jquery.autosize.min.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</html>
