<html lang="en" class="no-js">
	<head>
        {% block stylesheets %}
            {% stylesheets 'bundles/personal/css/picks/default.css' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <title>{% block title %}Coding Bat C++{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	</head>
	<body style="font-family:Helvetica">
		<div class="user">
			<span>
				Logged in as<br>
				<span id="email">{{ email }}</span> 
				{% if teacher %}
					<br><i>Teacher</i>
				{% endif %}
			</span>
			<p style="margin-bottom:0">
		        <a href={{ path("compiler_logout") }}>
		            <button class="logout">Logout</button>
		        </a>
			</p>
		</div>
		{% if teacher %}
	        <div name="logout" style="display:inline-block;float:right;padding-right: 10px">
	            <a href={{ path("teacher_admin") }}>
	                <button class="login" style="width:80px;height:40px;">Settings</button>
	            </a>
	        </div>
		{% endif %}
	    <div name="header">
	        <h2>CodingBat C++</h2>
	    </div>
		<div class="content">
		    {% for key,value in titles %}
		        <span class="problem">
		            {{ loop.index }}.&nbsp;<a class="problem" {% if value %}style="color:#00B137"{% endif %} href={{ path("compiler_problem", { 'problem': ids[loop.index0] }) }}>{{ key }}</a>
				</span>
		    {% endfor %}
		</div>
	</body>
    {% block javascripts %}
        {% javascripts 'bundles/personal/js/code.js'%}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</html>
