<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Register</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
	{% block stylesheets %}
	    {% stylesheets 'bundles/personal/css/landing.css'
	                   'bundles/personal/css/fonts.css' filter='cssrewrite' %}
	        <link rel="stylesheet" href="{{ asset_url }}" />
	    {% endstylesheets %}
	{% endblock %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a>Mastering</a></h1>
	            {% image '@PersonalBundle/Resources/public/images/c++.PNG' %}
	                <img id="cpp_logo" src="{{ asset_url }}" alt="Example" />
	            {% endimage %}
		</div>
	</div>
	<div id="wrapper1">
		<div id="welcome" class="container">
			<form method="post" action="">
				<p>
					<input class="login" id="email" name="email" type="text" placeholder="{{ email }}" readonly="readonly"><br>
					<input class="login" id="Username" name="username" type="text" placeholder="Username" ><br> <!-- Username input box -->
					<input class="login" id="Password" name="password" type="password" placeholder="Password"><br> <!-- Password input box -->
					{% if not error %}
						<button type="submit" name="submit" class="login button">Signup</button> <!-- Login (submit) button -->
					{% endif %}
				</p>
			</form>
            {% if error or message is defined %}<h4 class='alert'>{{ message }}</h4>{% endif %}
		</div>
	</div>
	<div id="copyright">
		<div class="title">
			<h2>Get in touch</h2>
			<span class="byline">Check out our Facebook or send us an email</span> </div>
		<ul class="contact">
			<li><a href="#" class="icon icon-facebook"><span></span></a></li>
			<li><a href="#" class="icon icon-envelope"><span></span></a></li>
		</ul>
		<p>&copy; MasteringC++. All rights reserved.</p>
	</div>
    {% block javascripts %}
        {% javascripts 'bundles/personal/js/code.js'%}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</body>
</html>
